cffi==2.0.0
charset-normalizer==3.4.6
cryptography==46.0.6
et_xmlfile==2.0.0
lxml==6.0.2
numpy==2.4.3
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
pycparser==3.0
PyMuPDF==1.27.2.2
pypdfium2==5.6.0
python-pptx==1.0.2
typing_extensions==4.15.0
wheel==0.46.3
xlsxwriter==3.2.9
